{% include '_head.html' %}
{% include '_nav.html' %}
        <!-- head section -->
        <section class="content-top-margin page-title page-title-small border-bottom-light border-top-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text">Thank you!</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-md-4 col-sm-12 breadcrumb wow fadeInUp xs-display-none" data-wow-duration="600ms"></div>
                </div>
            </div>
        </section>
        <!-- end head section -->

        <!-- content section -->
        <section class="bg-gray wow fadeIn">
            <div class="container">
                <div class="row black-text" >
                    <div class="col-md-10 col-sm-8 col-xs-11 text-center center-col">
                        <p class="not-found-title black-text">Thank you for your purchase!</p>
                    </div>
                </div>
                <div class="row margin-ten">
                        <!-- phone -->
                        <a class="col-md-4 col-sm-4 text-center" href="/user"><i class="fas fa-user-tie small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">User account</h6></a>
                        <!-- end phone -->
                        <!-- address -->
                        <a class="col-md-4 col-sm-4 text-center" href="/index"><i class="fas fa-home small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">Home</h6></a>
                        <!-- end address -->
                        <!-- email -->
                        <a class="col-md-4 col-sm-4 text-center" href="/store"><i class="fas fa-store-alt small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">Store</h6></a>
                        <!-- end email -->
                </div>
            </div>
        </section>
        <!-- end content section -->
{% include '_footer.html' %}