{% include '_head.html' %}
{% include '_nav.html' %}
       <!-- head section -->
        <section class="content-top-margin page-title-small border-bottom-light border-top-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text">ABOUT US</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-md-4 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li>About Company</li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end head section -->
        <!-- content section -->
        <section class="wow fadeIn cover-background" style="background-image:url('assets/img/nikehoodie.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8">
                        <div class="separator-line bg-yellow no-margin-lr no-margin-top"></div>
                        <div class="white-text slider-subtitle1 bg-inherit no-margin text-left no-padding"> FEEL .  THE .  CULTURE .</div>

                    </div>
                </div>
            </div>
        </section>
        <section class="border-bottom-light sm-text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7"><img src="assets/img/carpet.jpg" alt=""/></div>
                    <div class="col-md-4 offset-md-1 mt-50">
                        <h1 class="title-extra-large font-weight-700 black-text margin-eleven text-transform-none">What we do</h1>
                        <p class="title-small font-weight-300">We are an online shop catering to the bleeding-edge fashion trends and all-round hypebeast culture.</p>
                        <p class="title-small font-weight-300">We love and feel the hypebeast culture, so you are in the perfect place to fly.</p>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="wow fadeIn animated bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center center-col margin-ten-bottom">
                        <p class="slider-title-big8 font-weight-300 white-text">What makes us different? Our work, our passion and our people.</p> 
                    </div>
                </div> 
                <div class="row">
                    <!-- team member -->
                    <div data-wow-duration="300ms" class="col-md-4 col-sm-12 text-center team-member position-relative wow fadeInUp animated">
                        <img alt="" src"public_html/images/team-member8.jpg">
                        <figure class="position-relative">
                            <span class="team-name text-uppercase white-text letter-spacing-2 display-block font-weight-600">Imanol Romera</span>
                            <span class="team-post text-uppercase letter-spacing-2 display-block">Co Founder</span>
                            <div class="person-social margin-five no-margin-bottom"><a href="#"><i class="fa fa-facebook white-text"></i></a><a href="#"><i class="fa fa-twitter white-text"></i></a><a href="#"><i class="fa fa-google-plus white-text"></i></a></div>
                        </figure><!--
                        <div class="team-details">
                            <h5 class="team-headline white-text text-uppercase font-weight-600">I am Punctual</h5>
                            <p class="width-70 center-col light-gray-text margin-five">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                            <div class="separator-line-thick bg-white"></div>
                        </div>-->
                    </div>
                    <!-- end team member -->
                    <!-- team member -->
                    <div data-wow-duration="600ms" class="col-md-4 col-sm-12 text-center team-member position-relative wow fadeInUp animated">
                        <img alt="" src"public_html/images/team-member9.jpg">
                        <figure class="position-relative">
                            <span class="team-name text-uppercase white-text letter-spacing-2 display-block font-weight-600">Antonio Castilla</span>
                            <span class="team-post text-uppercase letter-spacing-2 display-block">Co Founder</span>
                            <div class="person-social margin-five no-margin-bottom"><a href="#"><i class="fa fa-facebook white-text"></i></a><a href="#"><i class="fa fa-twitter white-text"></i></a><a href="#"><i class="fa fa-google-plus white-text"></i></a></div>
                        </figure><!--
                        <div class="team-details">
                            <h5 class="team-headline white-text text-uppercase font-weight-600">I am Creative</h5>
                            <p class="width-70 center-col light-gray-text margin-five">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                            <div class="separator-line-thick bg-white"></div>
                        </div>-->
                    </div>
                    <!-- end team member -->
                    <!-- team member -->
                    <div data-wow-duration="900ms" class="col-md-4 col-sm-12 text-center team-member position-relative wow fadeInUp animated">
                        <img alt="" src"public_html/images/team-member10.jpg">
                        <figure class="position-relative">
                            <span class="team-name text-uppercase white-text letter-spacing-2 display-block font-weight-600">Mario Pérez</span>
                            <span class="team-post text-uppercase letter-spacing-2 display-block">Co Founder</span>
                            <div class="person-social margin-five no-margin-bottom"><a href="#"><i class="fa fa-facebook white-text"></i></a><a href="#"><i class="fa fa-twitter white-text"></i></a><a href="#"><i class="fa fa-google-plus white-text"></i></a></div>
                        </figure><!--
                        <div class="team-details">
                            <h5 class="team-headline white-text text-uppercase font-weight-600">I am Hungry</h5>
                            <p class="width-70 center-col light-gray-text margin-five">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                            <div class="separator-line-thick bg-white"></div>
                        </div>-->
                    </div>
                    <!-- end team member --> 
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 sm-margin-bottom-four text-center"><a href="#"><img alt="" src"public_html/images/shabby-chic.png"></a></div>
                    <div class="col-md-3 col-sm-6 sm-margin-bottom-four text-center"><a href="#"><img alt="" src"public_html/images/wandered.png"></a></div>
                    <div class="col-md-3 col-sm-6 xs-margin-bottom-four text-center"><a href="#"><img alt="" src"public_html/images/lumberjacket.png"></a></div>
                    <div class="col-md-3 col-sm-6 text-center"><a href="#"><img alt="" src"public_html/images/explore.png"></a></div>
                </div> 
            </div>
        </section>
{% include '_footer.html' %}